@import '../base.scss';
@import '../media.scss';

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 35.55%;
    grid-template-rows: 42vh 1fr;

    @include respond(s-desktop) {
       grid-template-columns: 1fr 33.4%  44rem;
       grid-template-rows: 35rem 1fr;
    }

    @include respond(s-desktop-2) {
        grid-template-columns: 1fr 33.4%  44rem;
        grid-template-rows: 42vh 1fr;
    }

    @include respond(macbook) {
        grid-template-columns: 1fr 33.4% 48rem;
        grid-template-rows: 42vh 1fr;
    }

    @include respond(m-desktop) {
        grid-template-columns: 1fr 35.6% 52rem;
        grid-template-rows: 42vh 1fr;
    }
    

    @include respond(big-desktop) {
        grid-template-columns: repeat(2, 1fr) 31.55%;
        grid-template-rows: 42vh 1fr;
        // grid-template-rows: 24rem 1fr;
    }

   

    @include respond(tab-land) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 28rem repeat(2, 1fr);
    }

    @include respond(phone) {
        grid-template-columns: 100%;
        grid-template-rows: 28rem 28rem 1fr 38rem 1fr;
        
    }

    &__1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: #fff;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;

        @include respond(xl-desktop)  {
            padding: 4.2rem;
        }
    }

    &__2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: #fff;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;

        

        @include respond(phone) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }
    }

    &__3 {
        background: $primary;

        @include respond(tab-land) {
            grid-column: 2 / 3;
        }

        @include respond(phone) {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
        }

        @include respond(xl-desktop)  {
            padding: 3rem;
        }
    }

    &__4 {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $green;
        border-right: 1px solid #ddd;

        img {
            width: 28rem;
            height: auto;

            @include respond(big-desktop) {
                width: auto;
                height: 78rem;
                display: flex;
                align-items: center;
            }

            @include respond(macbook) {
                width: 34rem;
            }
        }

        @include respond(tab-land) {
            grid-column: 1 / 2;
        }

        @include respond(phone) {
            display: none;
        }

        @include respond(xl-desktop)  {
            padding: 3rem;
        }
    }

    &__5 {
        background: #fff;

        @include respond(tab-land) {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        @include respond(phone) {
            grid-row: 3 / 4;
        }

        @include respond(xl-desktop)  {
            padding: 3rem;
        }
    }

    &__6 {
        background: $black;
        @include respond(xl-desktop)  {
            padding: 3rem;
        }
    }
}

// About me section info
.info-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0rem;

    @include respond(big-desktop) {
        margin: 8rem 0rem;
    }

    h1 {
        font-size: 3.2rem;

        @include respond(big-desktop) {
            font-size: 5.2rem;
        }

        @include respond(macbook) {
            font-size: 4.8rem;
        }

        // @include respond(tab-port) {
        //     font-size: 3.2rem;
        // }
    }

    span {
        text-align: center;
        margin: 2rem 0rem;
        font-size: 3.2rem;
        height: 4rem;
        width: 4rem;
        padding: 1.6rem;
        background: $primary;
        color: #fff;
        border-radius: 50%;

        @include respond(big-desktop) {
            margin: 2.2rem 0rem;
            font-size: 4.8rem;
            height: 6rem;
            width: 6rem;
        }

        
    }
}

.info-2 {
   
    padding: 3rem;
    text-align: center;
    

    @include respond(big-desktop) {
        margin-top: 2rem;
        margin-bottom: 5rem;
    }

   

    h1 {
        font-size: 3.2rem;
        margin-bottom: 3rem;

        @include respond(big-desktop) {
            font-size: 5.2rem;
            margin-bottom: 2.4rem;
        }

        @include respond(macbook) {
            font-size: 4.8rem;
            margin-bottom: 2.4rem;
        }
    }

    &--icon {
        width: 8rem;
        height: 8rem;

        @include respond(big-desktop) {
            width: 15rem;
            height: 15rem;
        }

        @include respond(macbook) {
            width: 11rem;
            height: 11rem;
        }
    }
}

.info-3 {
    color: #fff;
    padding: 3rem;


    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 2.5rem;
    }

    &__icon {
        width: 2.7rem;
        height: 2.7rem;
        
    }

    span {
        margin-left: 2rem;
        padding: 2rem 2.4rem;
        background: #fff;
        border-radius: 50%;
    }
}

.info-5 {
    padding: 3rem;


    &__title {
        margin-bottom: 2.5rem;
    }
}

.info-6 {
    color: #fff;
    padding: 3rem;
}

// CV buttons
.cv {
    display: flex;
    justify-content: center;
    
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 30rem;
        border-radius: 50px;
        background: #000;
        text-decoration: none;
        padding: 1.4rem 1.8rem;

        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all .3s;

        &:hover {
            transform: translateY(-3px);
        }
       
        &--text {
            font-size: 1.8rem;
            color: #fff;

        }

        &--icon {
            width: 2.4rem;
            height: 2.4rem;
            fill: #fff;
            margin-left: 2rem;
        }

        @include respond(big-desktop) {
            font-size: 2.4rem;
        }

        @include respond(tab-port) {
            width: 25rem;
        }
    }
}